<div id="well">
<h1>Hello there! </h1>
<p> Are you looking for a site that allows you to show your portfolio in a summary?</p>
<p> Are you feeling like there's project you would like to show off instead of your education skills? </p>
<p>Well... Here's your solution to your problem! </p>
</div>
