

<!-- <code>Tips on Good Resume!</code></p>
<br>
<br>
<kbd>Do's </kbd>

<ul>
  <li>Know your audience. Do RESEARCH.</li>
  <li>  It is okay to write multiple variations of your resume. </li>
    <li>Keep it SIMPLE. </li>
    <li>No more than 1 page </li>
    <li>White space is ok</li>
</ul>


<kbd>Don'ts </kbd>
<ul>
<li>Don’t use more than TWO colors.</li>

<li>Don’t use more than TWO fonts.</li>

<li>Picture? Let’s not. </li>
<li>“If I wanted to see your face, I’d check your LinkedIn.” </li>
</ul>
<br> -->
<center>
  <div style="width:100%; height:100%;">
<img src="mainpage.png"/>
</div>
</center>
<br>
<center>

  <%= link_to 'Sign Up', new_user_path ,class:"btn btn-info" %>

</center>
